@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1D2225;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #313235;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

/*  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
/*  display: flex;
  place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}


.background-gradient {
  overflow: hidden;
  opacity: .2;
  background: conic-gradient(from 180deg at 50% 50%,#2a8af6 0deg,#a853ba 180deg,#e92a67 1turn);
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  filter: blur(75px);
  will-change: filter;
  position: absolute;
  top: -731px;
  z-index: 1;
}

.background-gradient.room {
  width: 450px;
  height: 850px;
}

.logo-title {
  text-shadow: 0 0 5px #ffffff29;
}

.logo-sub-title {
  text-shadow: 0 0 5px #ffffff5e;
}
